# Midnight Network configuration
VITE_NETWORK_ID=preprod

# Deployed ShadowPoll contract address on Midnight Preprod testnet
VITE_CONTRACT_ADDRESS=d96f15b971d60aa20ce22533e54072871f66a23b6819b0961203437f1a3abf3a
